@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --white: #f9f9f9;
  --red: #6a2b2b;
  --gray: #85888c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* .header {
  background-color: var(--red);
  box-shadow: 1px 1px 5px 0 var(--gray);
  position: sticky;
  top: 0;
  width: 100%; */
/* display: flex;
  justify-content: space-between;
  align-items: center; */
/* } */

/* .logo {
  display: inline-block;
  color: var(--white);
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
  margin-bottom: 20px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--red);
  overflow: hidden;
}

.menu a {
  display: block;
  padding: 30px;
  color: var(--white);
}

.menu a:hover {
  background-color: var(--gray);
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background-color: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background-color: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
} */

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--red);
  padding: 1em 0;
}
.nav a {
  color: #fff;
  font-size: 20px;
  /* margin: auto; */
}
.nav i {
  color: #fff;
  margin: auto 3em;
  display: none;
  z-index: 99;
}
.show {
  display: flex;
}
.logo {
  /* width: 50%; */
  /* padding:  1em; */
  margin: 1em 3em;
}
.menu {
  /* width: 100%; */
  display: flex;
  background-color: var(--red);
  align-items: center;
  margin: auto 3em;
}
.menu a {
  width: 100%;
  margin: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.aksara {
  font-size: 50px;
  margin: auto 20px;
}

.aksara-mn {
  font-size: 15px;
}

.aksara-isi {
  font-size: 25px;
  margin: auto 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  padding: 20px 100px;
  background-color: var(--red);
  border-radius: 50px;
  margin: 20px auto;
  color: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
}

.item div {
  width: 50%;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 5px 10px;
  padding: 0 10px;
}

.item div:hover {
  background-color: #6a2b2b;
}
table {
  margin: 0 auto;
}

th,
td {
  padding: 20px;
  font: bold;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

tr:nth-child(even) {
  background-color: #6a2b2b;
  font: bold;
  font-size: large;
  color: #fff;
}

.pengertian {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.pengertian2 {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

img {
  width: 500px;
  height: 300px;
}

.border {
  border-radius: 5px;
  border-top: 10px;
  border-bottom: 10px;
  background-color: blanchedalmond;
}

/*  konversi file */
.konversi {
  width: 80%;
  margin: 2em auto;
}
.konversi p {
  margin-bottom: 2em;
}
form {
  border: 1px solid black;
  border-radius: 10px;
  /* margin: auto; */
  padding: 1em;
  display: flex;
  flex-direction: column;
}

input,
select {
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 15px;
}
.cari {
  width: max-content;
  text-align: right;
  align-self: self-end;
  margin: 1em 0 0;
  padding: 0.4em 0.5em;
  font-size: 16px;
  border: none;
  background-color: var(--red);
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 30%;
    padding: 3em 1em;
  }
  .menu li {
    margin: 1em auto;
  }
  .nav i {
    display: block;
  }
}
